@font-face {
  font-family: "Sooblack";
  src: url("/Sooblack-Regular.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* style={{ height: "1000vh" }} */
  height: 1000vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  box-sizing: border-box;
  --borderR: 5px;
  --primaryDark: #001e3c;
  --blue: #0843ff;
  --lightGrey: #e2e2e2;
  /* --lightGrey: #eeeeee; */
  --light: white;
  --lightBlue: #ebefff;
  --dark: black;
}
